@using Sediin.PraticheRegionali.WebUI.Models
@model ForgotPasswordViewModel

@Scripts.Render("~/bundles/jqueryval")

@using (Ajax.BeginForm("ForgotPassword", "Account", new AjaxOptions
{
    OnBegin = "alertWaid()",
    OnSuccess = "onSuccessForgotPassword"
}))
{
    if (TempData["message"] != null)
    {
        <div class="alert alert-danger mt-5">@Html.Raw(TempData["message"])</div>
    }

    <div class="row">

        <div class="col-md-6 offset-4">
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-12 control-label" })
                <div class="col-md-7">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group mt-3">
                <a href="@Url.Action("Login","Account")"
                   data-ajax="true"
                   data-ajax-success="onSuccessGet('Login Dipendente', data)"
                   data-ajax-begin="alertWaid()">Se ricordi la tua password, accedi qui</a>
            </div>

            @if (!Request.IsAjaxRequest())
            {
                <div class="form-group mt-5">
                    <div class="col-md-offset-2 col-md-10">
                       <button type="submit" class="btn btn-warning">Recupera Password</button>
                    </div>
                </div>

            }

        </div>
    </div>

    if (Request.IsAjaxRequest())
    {
        <div class="modal-footer mt-5">
            <button type="submit" class="btn btn-warning">Recupera Password</button>
            <button type="button" onclick="hideModal()" class="btn btn-primary">Chiudi</button>
        </div>

    }
}

<script>
    function onSuccessForgotPassword(data) {
        alertClose();
        if (data.isValid) {
            hideModal();
            alertSuccess(data.message);
        }
        else {
            alertDanger(data.message);
        }
    }
</script>
