@model Sediin.PraticheRegionali.WebUI.Areas.Admin.Models.RegioniModelRicercaViewModel
@using Sediin.PraticheRegionali.DOM;

@{
    Sediin.PraticheRegionali.DOM.DAL.UnitOfWork unitofwork = new Sediin.PraticheRegionali.DOM.DAL.UnitOfWork();
}
@if (Model.TotalRecords == 0)
{
    @Html.AlertDanger("Nessuna Regione trovata");
    return;
}
else
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="text-center bg-dark text-white">
                    <th>Descrizione</th>
                    <th>Codice Regione</th>
                    <th style="width:150px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Result)
                {
                    <tr>
                        <td>@item.DENREG</td>
                        <td class="text-center">@item.CODREG</td>
                        <td class="text-center">
                            <div class="dropdown">
                                @Ajax.EncodedAjaxActionLink("Modifica", "Modifica", "Regioni", new
                           {
                               id = item.RegioneId
                           }, new AjaxOptions
                           {
                               OnBegin = "alertWaid()",
                               OnSuccess = "showModalFullScreen_NoHeaderFooter(data); alertClose()",
                               OnFailure = "handleError"
                           }, new { @class = "btn btn-sm btn-primary" })
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}


@Html.PagingAjax(Model.PageSize, Model.CurrentPage, Model.TotalRecords,
      Url.Action("Ricerca"), Model.Filtri,
      new AjaxOptions
      {
          UpdateTargetId = "resultRicerca",
          HttpMethod = "post",
          OnFailure = "handleError"
      }, Url.Action("RicercaExcel"))
