@model Sediin.PraticheRegionali.DOM.Entitys.NavigatioHistory

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserHostAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserHostAddress)<br />
            <a href="https://ipapi.co/@Model.UserHostAddress/json/" target="_blank">
                <i class="fa-solid fa-link"></i><small class="text-primary"> dettaglio IP</small>
            </a>
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.CurrentUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrowserIsMobileDevice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrowserIsMobileDevice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrowserJScriptVersionMajor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrowserJScriptVersionMajor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrowserJScriptVersionMinor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrowserJScriptVersionMinor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrowserMajorVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrowserMajorVersion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrowserMobileDeviceModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrowserMobileDeviceModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrowserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrowserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrowserVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrowserVersion)
        </dd>

    </dl>
</div>
