@model Sediin.PraticheRegionali.WebUI.Areas.Backend.Models.DipendenteAziendaCessazioneContrattoModel

@Scripts.Render("~/bundles/jqueryval")


@using (Ajax.BeginForm("CessazioneContratto", new AjaxOptions
{
    OnBegin = "alertWaid()",
    OnSuccess = "onSuccessCessazioneContratto",
    OnFailure = "handleError"
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.DipendenteAziendaId)
    @Html.HiddenFor(model => model.DipendenteId)

    <div class="form-horizontal row">

        <div class="form-group offset-3">
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.DataAssunzione, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.DataAssunzione, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DataAssunzione, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-3">
                    @Html.LabelFor(model => model.DataCessione, htmlAttributes: new { @class = "control-label" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(model => model.DataCessione, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DataCessione, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer mt-5">

            <button type="submit" class="btn btn-primary">Conferma</button>

            @Ajax.EncodedAjaxActionLink("Chiudi finestra", "Anagrafica", "Dipendente", new
       {
           id = Model.DipendenteId
       }, new AjaxOptions
       {
           OnBegin = "alertWaid()",
           OnSuccess = "showModalFullScreen_NoHeaderFooter(data); alertClose()",
           OnFailure = "handleError"
       }, new { @class = "btn btn-danger", id = "buttonCloseModalAssociaAziendaRIcerca" })


        </div>
    </div>
}
<script src="~/Scripts/unobtrusiveParseForm.js"></script>
<script src="~/Scripts/dataDalDataAl.js"></script>

<script>
    $().ready(function () {
        $('#DataAssunzione').inputmask();
        $('#DataCessione').inputmask();

        flatpickr('#DataAssunzione', {
            locale: "it",
            dateFormat: "d/m/Y",
            disableMobile: "true",
            allowInput: true,
            maxDate:"@DateTime.Now",
            onChange: function (selectedDates, dateStr, instance) {
                },
            plugins: [new rangePlugin({ input: "#DataCessione" })]
        });
    })

    function onSuccessCessazioneContratto(data) {

        if (!data.isValid) {
            alertDanger(data.message);
        }
        else {

             @if (!User.IsInRole(IdentityHelper.Roles.Dipendente.ToString()))
                {
                    @:updateListRicerca();

                    @:$.get("@Html.EncodedAction("Anagrafica", "Dipendente", new { id = Model.DipendenteId })", function(data) {
                    @:showModalFullScreen_NoHeaderFooter(data);
                    @:alertSuccess("Dati aggiornati");})
                }
                else if (User.IsInRole(IdentityHelper.Roles.Dipendente.ToString()))
                {
                    @:$.get("@Html.EncodedAction("Anagrafica", "Dipendente", new { id = Model.DipendenteId })", function(data) {
                    @:hideModal();
                    @:$("#contentrenderbody").html(data);
                    @:alertSuccess("Dati aggiornati");})
                }
        }
    }

    $().ready(function () {
        if (!location.href.toLowerCase().endsWith("ricerca")) {
            $("#buttonCloseModalAssociaAziendaRIcerca").removeAttr("href");
            $("#buttonCloseModalAssociaAziendaRIcerca").removeAttr("data-ajax-success");
            $("#buttonCloseModalAssociaAziendaRIcerca").removeAttr("data-ajax-begin");
            $("#buttonCloseModalAssociaAziendaRIcerca").on("click", function () { hideModal() });
        }
    })
</script>