@model IEnumerable<Sediin.PraticheRegionali.DOM.Entitys.TipoRichiesta>

@if (Model == null || Model.Count() == 0)
{
    @Html.AlertDanger("Nessun Tipo richiesta trovata");
    return;
}
else
{
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr class="text-center bg-dark text-white">
                    <th>Modulo</th>
                    <th>Tipo richiesta</th>
                    <th>Anno</th>
                    <th>Abilitato per nuova richiesta</th>
                    <th>Requisiti</th>
                    <th>DPR</th>
                    <th>Richiedenti</th>
                    <th>Una tantum</th>
                    <th>Richieste Anno</th>
                    <th style="width:150px"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Modulo</td>
                        <td>
                            @item.Descrizione
                            <br />
                            @if (item.IsTipoRichiestaDipendente == true)
                            {
                                <label class="badge bg-1">Prestazioni Regionali Dipendenti</label>
                            }
                            else
                            {
                                <label class="badge bg-2">Prestazioni Regionali Aziende</label>

                            }

                        </td>
                        <td>@item.Anno</td>
                        <td class="text-center">@Html.Si_No(item.AbilitatoNuovaRichiesta)</td>
                        <td class="text-center">@item.TipoRichiestaRequisiti.Count()</td>
                        <td class="text-center">@item.TipoRichiestaDpr.Count()</td>
                        <td class="text-center">
                            @if (item.RichiedenteMassimo.GetValueOrDefault() > 0)
                            {
                                <span>@item.RichiedenteMinimo.GetValueOrDefault()</span><span> / </span> <span>@item.RichiedenteMassimo.GetValueOrDefault()</span>
                            }
                            else
                            {
                                <span>0</span>
                            }

                        </td>
                        <td class="text-center">
                            @Html.Si_No(item.UnaTantum.GetValueOrDefault())
                        </td>
                        <td class="text-center">
                            @item.MaxRichiesteAnno
                        </td>
                        <td class="text-center">

                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Azioni
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Ajax.EncodedAjaxActionLink("Modifica", "Modifica", "TipoRichieste", new
                                   {
                                       id = item.TipoRichiestaId
                                   }, new AjaxOptions
                                   {
                                       OnBegin = "alertWaid()",
                                       OnSuccess = "showModalFullScreen_NoHeaderFooter(data); alertClose()",
                                       OnFailure = "handleError"
                                   }, new { @class = "dropdown-item" })
                                    </li>
                                    <li>
                                        @Ajax.EncodedAjaxActionLink("Allegati", "Allegati", "TipoRichieste", new
                                   {
                                       tipoRichiestaId = item.TipoRichiestaId
                                   }, new AjaxOptions
                                   {
                                       OnBegin = "alertWaid()",
                                       OnSuccess = "showModalFullScreen_NoHeaderFooter(data); alertClose()",
                                       OnFailure = "handleError"
                                   }, new { @class = "dropdown-item" })
                                    </li>
                                    <li>
                                        @Ajax.EncodedAjaxActionLink("Requisiti", "Requisiti", "TipoRichieste", new
                                   {
                                       tipoRichiestaId = item.TipoRichiestaId
                                   }, new AjaxOptions
                                   {
                                       OnBegin = "alertWaid()",
                                       OnSuccess = "showModalFullScreen_NoHeaderFooter(data); alertClose()",
                                       OnFailure = "handleError"
                                   }, new { @class = "dropdown-item" })
                                    </li>
                                    <li>
                                        @Ajax.EncodedAjaxActionLink("DichiarazioniDPR", "DichiarazioniDPR", "TipoRichieste", new
                                   {
                                       tipoRichiestaId = item.TipoRichiestaId
                                   }, new AjaxOptions
                                   {
                                       OnBegin = "alertWaid()",
                                       OnSuccess = "showModalFullScreen_NoHeaderFooter(data); alertClose()",
                                       OnFailure = "handleError"
                                   }, new { @class = "dropdown-item" })
                                    </li>
                                    <li>
                                        @Ajax.EncodedAjaxActionLink("Duplica", "Duplica", "TipoRichieste", new
                                   {
                                       tipoRichiestaId = item.TipoRichiestaId,
                                       anno = item.Anno + 1
                                   }, new AjaxOptions
                                   {
                                       OnBegin = "alertWaid()",
                                       OnSuccess = "showModal_NoHeaderFooter(data); alertClose()",
                                       OnFailure = "handleError"
                                   }, new { @class = "dropdown-item" })
                                    </li>
                                    <li>
                                        @Ajax.EncodedAjaxActionLink("Elimina", "Elimina", "TipoRichieste", new
                                   {
                                       tipoRichiestaId = item.TipoRichiestaId,
                                   }, new AjaxOptions
                                   {
                                       OnBegin = "alertWaid()",
                                       OnSuccess = "showModal_NoHeaderFooter(data); alertClose()",
                                       OnFailure = "handleError"
                                   }, new { @class = "dropdown-item" })
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

}