@model Sediin.PraticheRegionali.WebUI.Areas.Backend.Models.PraticheAzienda_QualitaInnovazione

@using Sediin.PraticheRegionali.WebUI
@using Sediin.PraticheRegionali.DOM

@{
    Sediin.PraticheRegionali.DOM.DAL.UnitOfWork unitOfWork = new Sediin.PraticheRegionali.DOM.DAL.UnitOfWork();
    var _motivazioni = unitOfWork.MotivazioniRichiestaRepository.Get(xx => xx.TipoRichiestaId == Model.TipoRichiestaId).OrderBy(o => o.Motivazione);
}
<div class="row">
    <h4>
        <span class="badge bg-secondary">Dati richiesta</span>
    </h4>


    <div class="col-md-12">
        <div class="form-group">
            @Html.LabelFor(model => model.MotivoRichiestaId, htmlAttributes: new { @class = "control-label" })<span class="text-danger"> *</span>
            <div class="col-md-12">

                @if (Model.ReadOnly.GetValueOrDefault())
                {
                    @Html.HiddenFor(model => model.MotivoRichiestaId)

                    var _motivazione = _motivazioni?.FirstOrDefault(x => x.MotivazioniRichiestaId == Model?.MotivoRichiestaId);
                    if (_motivazione != null)
                    {
                        <span>@_motivazione.Motivazione</span>
                    }
                }
                else
                {
                    @Html.DropDownListFor(model => model.MotivoRichiestaId, Html.SelectList(_motivazioni, "MotivazioniRichiestaId", "Motivazione", true), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.MotivoRichiestaId, "", new { @class = "text-danger" })
                }
            </div>
        </div>
    </div>


</div>

<div class="row mt-3">
    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.TotaleFatture, htmlAttributes: new { @class = "control-label" })<span class="text-danger"> *</span>
            <div class="col-md-12">
                @Html.TextBoxForReadOnly(model => model.TotaleFatture, new { @class = "form-control", placeholder = "Importo minimo € 500,00" }, "{0:n}")
                @Html.ValidationMessageFor(model => model.TotaleFatture, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.TotaleFatturAccettate, htmlAttributes: new { @class = "control-label" })<span class="text-danger"> *</span>
                                                                                                                  <div class="col-md-10">

                                                                                                                      @if (User.IsInRole(IdentityHelper.Roles.Admin.ToString()) ||
                                                                                                                           User.IsInRole(IdentityHelper.Roles.Super.ToString()))
                                                                                                                          {
                                                                                                                              if ((Model.StatoPraticaId == (int)SediinPraticheRegionaliEnums.StatoPratica.Inviata || Model.StatoPraticaId == (int)SediinPraticheRegionaliEnums.StatoPratica.InviataRevisionata))
                                                                                                                              {
                                                                                                                                  @Html.TextBoxFor(model => model.TotaleFatturAccettate, new { @class = "form-control" })
                                                                                                                                  @Html.ValidationMessageFor(model => model.TotaleFatturAccettate, "", new { @class = "text-danger" })
                                                                                                                              }
                                                                                                                              else
                                                                                                                              {
                                                                                                                                  <span>@Model.TotaleFatturAccettate.GetValueOrDefault().ToString("n")</span>
                                                                                                                                  @Html.HiddenFor(model => model.TotaleFatturAccettate)<br />
                                                                                                                                  @Html.ValidationMessageFor(model => model.TotaleFatturAccettate, "", new { @class = "text-danger" })
                                                                                                                              }
                                                                                                                          }
                                                                                                                          else
                                                                                                                          {
                                                                                                                              if (!Model.StatoPraticaId.HasValue || (Model.StatoPraticaId == (int)SediinPraticheRegionaliEnums.StatoPratica.Inviata || Model.StatoPraticaId == (int)SediinPraticheRegionaliEnums.StatoPratica.InviataRevisionata))
                                                                                                                              {
                                                                                                                                  <small class="text-danger">Inserito dopo invio dal della richiesta</small>
                                                                                                                                  @Html.HiddenFor(model => model.TotaleFatturAccettate)<br />
                                                                                                                              }
                                                                                                                              else
                                                                                                                              {
                                                                                                                                  <span>@Model.TotaleFatturAccettate.GetValueOrDefault().ToString("n")</span>
                                                                                                                                  @Html.HiddenFor(model => model.TotaleFatturAccettate)<br />
                                                                                                                              }
                                                                                                                          }

                                                                                                                  </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            @Html.LabelFor(model => model.ImportoTotaleRimborsato, htmlAttributes: new { @class = "control-label" })<span class="text-danger"> *</span>
                                                                                                                    <div class="col-md-12">
                                                                                                                        @if (User.IsInRole(IdentityHelper.Roles.Admin.ToString()) ||
                                                                                                                             User.IsInRole(IdentityHelper.Roles.Super.ToString()))
                                                                                                                            {
                                                                                                                                <span id="@nameof(Model.ImportoTotaleRimborsato)-span">
                                                                                                                                    @Model.ImportoTotaleRimborsato.GetValueOrDefault().ToString("n")
                                                                                                                                </span>
                                                                                                                                @Html.HiddenFor(model => model.ImportoTotaleRimborsato, new { @class = "form-control" })
                                                                                                                                <br />
                                                                                                                                @Html.ValidationMessageFor(model => model.ImportoTotaleRimborsato, "", new { @class = "text-danger" })
                                                                                                                            }
                                                                                                                            else
                                                                                                                            {
                                                                                                                                if (!Model.StatoPraticaId.HasValue || (Model.StatoPraticaId == (int)SediinPraticheRegionaliEnums.StatoPratica.Inviata || Model.StatoPraticaId == (int)SediinPraticheRegionaliEnums.StatoPratica.InviataRevisionata))
                                                                                                                                {
                                                                                                                                    <small class="text-danger">Inserito dopo invio della richiesta</small>
                                                                                                                                    @Html.HiddenFor(model => model.ImportoTotaleRimborsato)<br />
                                                                                                                                }
                                                                                                                                else
                                                                                                                                {
                                                                                                                                    <span>@Model.ImportoTotaleRimborsato.GetValueOrDefault().ToString("n")</span>
                                                                                                                                    @Html.HiddenFor(model => model.ImportoTotaleRimborsato)<br />
                                                                                                                                }
                                                                                                                            }
                                                                                                                    </div>
        </div>
    </div>
</div>

<hr />

@{ Html.RenderAction("AllegatiRichiesta", "Pratiche", new
    {
        Model.RichiestaId,
        Model.TipoRichiesta.TipoRichiestaId,
        Model.ReadOnly
    });}

<script>
    $("#@nameof(Model.TotaleFatturAccettate)").on("keyup blur", function () {
        getImportoRiconosciuto();
    });

    $("#@nameof(Model.TotaleFatturAccettate)").on("focusout", function () {
        $("#@nameof(Model.TotaleFatturAccettate)").val(toDecimalFormatEuropa($("#@nameof(Model.TotaleFatturAccettate)").val()))
    });

    $("#@nameof(Model.TotaleFatture)").on("focusout", function () {
        $("#@nameof(Model.TotaleFatture)").val(toDecimalFormatEuropa($("#@nameof(Model.TotaleFatture)").val()))
    });

    function getImportoRiconosciuto() {
        disableAllBtn();
        $("#@nameof(Model.ImportoTotaleRimborsato)-span").html("0,00");
        $("#@nameof(Model.ImportoTotaleRimborsato)").val("0");

        resetValidator("@nameof(Model.ImportoTotaleRimborsato)");

        $.get("@Url.Action("GetImportoTotaleRimborsatoQualitaInnovazioneImprese", "Pratiche")", {
            importoAccettato: $("#@nameof(Model.TotaleFatturAccettate)").val(),
            tipoRichiestaId: @Model.TipoRichiesta.TipoRichiestaId,
       }, function (data) {
            $("#@nameof(Model.ImportoTotaleRimborsato)-span").html(toLocalCurrency(data.importiCalcolati.ImportoContributo));
            $("#@nameof(Model.ImportoTotaleRimborsato)").val(data.importiCalcolati.ImportoContributo);
            $("#containerImportoCalcolati").html(data.html);
            enableAllBtn();
        }).fail(function (error) {
            $("#@nameof(Model.ImportoTotaleRimborsato)-span").html("Importo non valido");
            $("#@nameof(Model.ImportoTotaleRimborsato)").val("");
            $("#@nameof(Model.ImportoTotaleRimborsato)").valid();
            enableAllBtn();
        });
    }
</script>

