@model Sediin.PraticheRegionali.WebUI.Areas.Backend.Models.SportelloRicercaModel

<div class="row mb-4">
    <div class="col-md-12">

        <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="true">
                Nuovo Consulente
            </button>
            <ul class="dropdown-menu" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 40px);" data-popper-placement="bottom-start">

                @foreach (var item in Html.GetRolesFriendlyName()
                        .Where(z => z.Attivo == true && z.Rolename.StartsWith("sp_", StringComparison.OrdinalIgnoreCase))
                        .OrderBy(o => o.FriendlyName))
                {
                    <li>
                        <a class="dropdown-item fw-bold" data-ajax="true" data-ajax-begin="alertWaid()"
                           data-ajax-failure="handleError"
                           data-ajax-success="showModalFullScreen_NoHeaderFooter(data); alertClose()"
                           href="@Html.EncodedAction("Anagrafica", "Sportello", new { ruolo = item.Rolename})">
                            Tipo: "@item.FriendlyName"
                            <br><small class="fw-normal">@item.Descrizione</small>
                        </a>

                    </li>
                }

            </ul>
        </div>
    </div>
</div>
@Html.RicercaModulo(Html.Partial("RicercaModulo", Model), "Anagrafiche Consulenti")

@Html.UpdateListRicerca(Url.Action("Ricerca", "Sportello"), true)

